@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  background-color: white;
  font-family: "Noto Sans Thai", sans-serif;
}
input {
  background-color: white;
}
input[type="checkbox"] {
  accent-color: white;
  color: white;
}
.factory-background {
  background-color: #546e55;
}
.machine-background {
  background-color: #65493a;
}
.factory-border {
  border-color: #546e55;
}
.machine-border {
  border-color: #65493a;
}
.machine-ring {
  --tw-ring-color: #65493a;
}
.factory-ring {
  --tw-ring-color: #546e55;
}
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 20px;
  border: none;
}

.google_translate_element {
  width: "200px";
}

.goog-te-gadget-icon {
  display: none;
}

.VIpgJd-ZVi9od-xl07Ob-lTBxed {
  display: flex;
}

.goog-te-gadget-simple {
  display: flex;
}
